/* Helper 页面样式 */

.helper-page {
    height: calc(100vh - 58px);
    padding: 12px;
    .helper-workarea-header-button {
        background-image: linear-gradient(78deg, #8054f2 7%, #3895da 95%);
        border-radius: 12px;
        height: 24px;
        width: 93px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        cursor: pointer;
        font-size: 12px;
        font-weight: 600;
        transition: all 0.3s;
        margin: 24px;
    }
    
    .helper-workarea-header-button:hover {
        opacity: 0.8;
    }
}
